@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

section {
    padding: 0 24px;
    background-color: #F6F1F1;
}

input {
    border: 2px solid white;
    font-size: 40px;
    padding: 8px 24px;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.08);
}

input:hover {
    border: 2px solid black;
    transition: all 300ms ease;
}

input:focus-visible {
    border: 2px solid black;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}

.blue {
    color: #19A7CE;
}

/*

    NAVIGATION

*/

nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;

}

.nav__logo--wrapper {
    display: flex;
    width: 400px;

}

.nav__links {
    display: flex;
}

.nav__link--anchor {
    font-size: 24px;
    padding: 0 24px;
    font-weight: 500;
    color: black;
    transition: all 300ms ease;
}

.nav__link--anchor:hover {
    color: #19A7CE;
}

.nav__link--anchor:active {
    color: #146C94;
}

/*

    LANDING

*/

#landing-page {
    min-height: 100vh;
}

.landing__title {
    font-size: 120px;
    font-weight: 900;
    text-align: center;
}

.landing__sub-title {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
}

.landing__search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 48px 0;
}

.landing__para {
    font-size: 24px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-weight: 500;
}

/*

    BOOKS

*/

#books__landing {
    min-height: 100vh;
}

.books__landing--description {
    display: flex;
    justify-content: space-between;

}

.books__landing--title {
    font-size: 32px;
}

.books_select {
    padding: 8px 12px;
    margin-right: 24px;
    border: none;
    font-size: 16px;
    /*border-radius: 20px;*/
}

.books__list {
    display: flex;
    flex-wrap: wrap;
}

.book__wrapper {
    width: 25%;
    padding: 16px 24px;
    max-height: 420px;
    overflow: hidden;
}

.book {
    overflow: hidden;
    position: relative;
    min-height: 80%;
}

.book__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 300ms ease;
}

.book__img--wrapper {
    display: flex;
    overflow: hidden;
    max-height: 378px;
}

.book__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    text-align: center;
    font-size: 28px;
    line-height: 1.5;
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
    color: #F6F1F1;
    z-index: 2;
}

.book__img {
    transition: all 300ms ease;
}

.book:hover .book__overlay {
    opacity: 1;
    z-index: 1;
}

.book:hover .book__title {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.book:hover .book__img {
    transform: scale(1.1);
}

.books__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  font-size: 60px;
  color: #19A7CE;
}

.books__loading--spinner {
  display: none !important;
}

.books__loading .books__loading--spinner {
  display: block !important;
}

.fa-spinner {
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*

    BOOKS

*/

.book__big-wrapper {
    display: flex;
}

.book__description {
    width: 50%;
    padding: 40px 40px 40px 20px;
}

.book__big-img--wrapper {
    width: 50%;
    display: flex;
    overflow: hidden;
    padding: 40px 20px 40px 40px;
}

.book__heading {
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 700;
}

.book__author {
    font-size: 24px;
}

.book__options--title {
    margin-top: 24px;
}

.book__options {
    margin-top: 16px;
}

.book__option {
    margin-top: 8px;
    color: black;
    font-weight: 500;
    transition: all 300ms ease;
}

.book__option:hover {
    color: #19A7CE;
}

.book__option:active {
    color: #146C94;
}

#landing__book {
    min-height: 100vh;
}

.book__img {
    max-width: 400px;
}