{% extends "base.html" %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/books.js') }}" defer></script>
{% endblock %}
{% block content %}

    <section id="books__landing">

        {% block nav %}
            {{ super() }}
        {% endblock %}

        <div class="row">
            <div class="container">
                <div class="books__landing--description">
                    <h2 class="books__landing--title">Explore <span class="blue">Books</span></h2>
                    <select name="" id="" class="books_select">
                        <option value="Sort" disabled></option>
                        <option value="ALPHABETICAL">Alphabetical</option>
                    </select>
                </div>
            </div>
            <div class="books__list"></div>
        </div>
    </section>

    {% block footer %}
        {{ super() }}
    {% endblock %}

{% endblock %}
