{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/book.js') }}"></script>
{% endblock %}

{% block content %}
    <section class="landing__book">
    {% block nav %}
        {{ super() }}
    {% endblock %}
        <div class="container">
            <div class="row">
                <div class="book__big-wrapper">
                    <figure class="book__big-img--wrapper">
                        <img src="" alt="" class="book__img">
                    </figure>
                    <div class="book__description">
                        <h2 class="book__heading">Title asdfasdfasdfasdf</h2>
                        <h3 class="book__author">Author</h3>
                        <h3 class="book__options--title">Downloads</h3>
                        <ul class="book__options">
                            <li class="book__option">option 1</li>
                            <li class="book__option">option 2</li>
                            <li class="book__option">option 3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% block footer %}
        {{ super() }}
    {% endblock %}
{% endblock %}