{% extends "base.html" %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% endblock %}
{% block content %}

    <section id="landing-page">

        {% block nav %}
            {{ super() }}
        {% endblock %}

        <div class="row">
            <header>
                <div class="container">
                    <div class="landing__wrapper">
                        <h1 class="landing__title">Welcome to <span class="blue">LibroHub</span></h1>
                        <h2 class="landing__sub-title">Your <span class="blue">Gateway</span> to a World of Free Books
                        </h2>
                        <div class="landing__search">
                            <form id="search-form">
                                <input id="search-input" name="search" type="text" placeholder="Book title">
                            </form>
                        </div>
                        <p class="landing__para">Discover thousands of <span class="blue">free eBooks</span> from
                            classic
                            literature to modern
                            masterpieces</p>
                    </div>
                </div>
            </header>
        </div>

    </section>

    {% block footer %}
        {{ super() }}
    {% endblock %}

{% endblock %}
